<h1>{{'bike.saddle' | translate}}</h1>


<form style="padding: 20px;">
  <div class="row">
    <md-text-float label="{{'bike.saddleLength' | translate}}" ng-model="saddle.Length"> </md-text-float>
    <md-text-float label="{{'bike.topTube' | translate}}" ng-model="saddle.TopTube"> </md-text-float>
  </div>
  <table>
    <tr>
      <td>Stem length estimation</td>
      <td>Road</td>
      <td>--</td>

    </tr>
    <tr>
      <td>Stem length estimation</td>
      <td>MTB</td>
      <td>--</td>

    </tr>
    <tr>
      <td>Stem length</td>
      <td>Road</td>
      <td>--</td>

    </tr>
    <tr>
      <td>Stem length</td>
      <td>MTB</td>
      <td>--</td>

    </tr>
  </table>
 </form>
